

.filler {
  height: 20rem;
  text-align: center;
}
#scrolly-side .scrolly {
  display: flex;
  max-width: 60rem;
  margin: 3rem auto;
  /* background-color: #f4f4f4; */
  padding: 1rem;
}
#scrolly-side .scrolly > * {
  flex: 1;
}
#scrolly-side .scrolly article {
  padding-right: 1rem;
  max-width: 30rem;
}
#scrolly-side .scrolly article .step {
  min-height: 50vh;
  margin-bottom: 1rem;
  /* background-color: #5b5b5b; */
  opacity:0.2;
  transition: opacity 250ms ease-in-out;
}
#scrolly-side .scrolly article .step:last-of-type {
  margin-bottom: 0;
}
#scrolly-side .scrolly article .step.is-active {
  opacity: 1;
}
#scrolly-side .scrolly article .step p {
  margin: 0;
  padding: 1rem;
  text-align: left;
  line-height:1.5;
  font-weight: 400;
  color: gray;
}
#scrolly-side .scrolly article .step h2 {
  margin: 0;
  padding-left: 1rem;
  text-align: left;
  color: gray;
}

#scrolly-side .scrolly figure.sticky {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  height: 50vh;
  /* background: #969696; */
  margin: 0;
  top: 25vh;
  left: 0;
}

img {
width:100%;
margin:auto;
display:block;
}

.images {
  opacity: 0;
  transition: opacity 0.75s ease-in-out;
  height: 0;
  overflow: hidden;
}

.images.is-active {
  opacity: 1;
  height: auto;
}
